*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(166, 218, 200);
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    background-color: rgb(222, 218, 213);
    height: 18vmin;
    width:18vmin;
    border-radius:1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(28, 27, 27);
    font-size: 9vmin;
    color: #000;
}
#reset-btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(18, 23, 32);
    color: azure;
    font-size: 15px;
    border: none;
}
#new-btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(18, 23, 32);
    color: azure;
    font-size: 15px;
    border: none;

}
#msg{
    color: rgb(3, 61, 108);
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}